/*Limpar formatações padrões*/

*{
	margin: 0;
	padding: 0;
}

body{	
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
	background: #F5F6CD;
}

/*Layout*/

#cabecalho{
	background: black;
	min-width: 410px;
	text-align: center;
}

#titulo-cabecalho{
	padding: 45px;
}

#menu-cabecalho{
	background: #FF8000;
	padding: 13px;
}

#conteudo{
	width: 90%;
	min-width: 410px;
	margin: 0 auto;
	padding: 20px;
}

#postagens, #lateral{
	margin-bottom: 20px;
}

#postagens{
	background: #FAF9EB;
	width: 60%;
	padding: 20px;
	float: left;
}

#lateral{
	width: 30%;
	float: right;
}

#rodape{
	clear: both;
	background: #FF8000;
	padding: 15px;
	text-align: center;
	color: #8A4B08;
}

.menu-lateral{
	background: #FAF9EB;
	padding: 5px;
	margin-bottom: 20px;
}

.post{
	border-bottom: solid #F3F781 1px;
	padding: 10px 0;
}


/*Formatação do menu-cabecalho*/
a{
	text-decoration: none;
	color: #FF8000;
}

a:hover{
	text-decoration: underline;
}

#cabecalho a:link, #cabecalho a:visited{
	color: #8A4B08;
	padding: 13px;
}

ul li{
	display: inline;
	list-style: none;
}

#cabecalho a:hover, .selecionado a{
	color: #FF8000 !important;
	background: #8A4B08;
	text-decoration: none;
}

/*Formatações gerais*/

h1{
	color: #FFBF00;
	font-size: 3em;
}

h2{
	color: #FFBF00;
}

h3{
	font-size: 1.3em;
	color: #FFBF00;
	padding-bottom: 10px;
}

p{
	color: #61210B;
	padding-top: 17px;
}

h1>span{
	color: white;
}

h2+span{
	font-size: 0.8em;
	color: #61210B;
}

h2~form {
	padding-top: 17px;
}

h3~div{
	padding-bottom: 7px;
}

textarea{
	width: 70%;
	height: 200px;
	max-width: 99%;
}

input[type="text"]{
	width: 68%;
}

label{
	display: block;
	cursor: pointer;
}